@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@plugin "daisyui"{
    themes: false;
}

@plugin "daisyui/theme" {
    name: "saktools";
    default: true;
    prefersdark: true;
    color-scheme: dark;

    --color-accent: #1e1e1e;
}

:root {
  font-family: Arial, sans-serif;
  color: #ffffff;
  background: #1b1b1d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}